*{
  margin: 0px;
}
body{
  background-color: #a7a5a5;
}
header{
  background-color: white;
  color: rgba(15, 4, 170);
  box-shadow: 0px 0px 10px 2px rgba(15, 4, 170, 0.64);
  
}


main{
  padding: 30px 50px;
}
.botaoform{
  align-items: center;
  margin-left: 120px;
}
.card{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(195, 195, 252);
  box-shadow: 0px 0px 10px 2px rgba(15, 4, 170, 0.64);
  width: 600px;
  margin: auto;
  margin-top: 40px;
}

.pesquisar{
  float: left;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(195, 195, 252);
  box-shadow: 0px 0px 10px 2px rgba(15, 4, 170, 0.64);
  width: 220px;
  margin-top: 8px;
  margin-left: 8px;
}
.lineinput{
  display: grid;
  margin-bottom: 10px;
}
input{
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 2px;
  outline: 0;
}
.button{
  border: 0px;
  padding: 10px;
  outline: 0;
  background-color: rgba(15, 04, 170, 0.64);
  border-radius: 5px;
  transition: all ease 0.5s;
  text-decoration: none;
  color: black;
}
.button:hover{
  background-color: rgba(5, 1, 68);
  color: #dddddd;
}
/*input pesquisar*/
.inppesquisar{
  float: left;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(15, 4, 170, 0.30);
}
/*Botao pesquisar*/
.btnpesquisar{
  float: left;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(15, 4, 170, 0.30);
}
.btnpesquisar:hover{
  float: left;
  box-shadow: 0px 0px 10px 1px rgba(15, 04, 170, 0.64);
  background-color: rgba(15, 04, 170, 0.64);
}
/*Botão tabela*/
.botao1{
  border: none;
  float: left;
} 
.botao1:hover{
  border: none;
  float: left;
  background-color: rgba(15, 04, 170, 0.64);
}
.tabela{
  margin-top: 15px;
  background-color: white;
}
table{
  border-collapse: collapse;
  border: 1px solid lightgray;
  width: 100%;
}
table th{
  background-color: #bdbdce;
}
table th, td{
  padding: 1px 5px;
  text-align: left;
}

.center{
 text-align: center;
}
